<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<servlet>
		<servlet-name>login</servlet-name>
		<servlet-class>cc.ileiwang.zfedusystem.servlet.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>login</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>logout</servlet-name>
		<servlet-class>cc.ileiwang.zfedusystem.servlet.LogoutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>logout</servlet-name>
		<url-pattern>/LogoutServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>register</servlet-name>
		<servlet-class>cc.ileiwang.zfedusystem.servlet.RegisterServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>register</servlet-name>
		<url-pattern>/RegisterServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>update</servlet-name>
		<servlet-class>cc.ileiwang.zfedusystem.servlet.UpdateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>update</servlet-name>
		<url-pattern>/UpdateServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>delete</servlet-name>
		<servlet-class>cc.ileiwang.zfedusystem.servlet.DeleteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>delete</servlet-name>
		<url-pattern>/DeleteServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>findPass</servlet-name>
		<servlet-class>cc.ileiwang.zfedusystem.servlet.FindPassServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>findPass</servlet-name>
		<url-pattern>/FindPassServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>addCourse</servlet-name>
		<servlet-class>cc.ileiwang.zfedusystem.servlet.AddCourseServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>addCourse</servlet-name>
		<url-pattern>/AddCourseServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>addBlog</servlet-name>
		<servlet-class>cc.ileiwang.zfedusystem.servlet.AddBlogServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>addBlog</servlet-name>
		<url-pattern>/AddBlogServlet</url-pattern>
	</servlet-mapping>
</web-app>